.new-campaign-tab-block {
  width: 100%;
  background-color: $bg-second-color;

  .new-campaign-block-wrapper {
    padding: 130px 33px 50px;
    overflow: hidden;
  }

  .create-progress {
    display: flex;
    >div {
      flex-basis: 100%;
      border: 2px solid $common-orange-color;
      margin-right: 5px;
      text-align: center;
      cursor: pointer;
      font-size: 22px;
      padding: 10px 0;
    }
  }
}