.btn {
  display: block;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 2px 2px 0;
  background-color: $bg-orange-color;
  color: $white-text-color;
  font-family: $secondfont;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    background-color: $common-orange-light-color;
  }
  &:active {
    background-color: $bg-orange-color;
  }

  &.btn-transparent {
    background-color: transparent;
    border-radius: 2px 2px 0;
    border: 1px solid $bg-orange-color;
    color: $main-text-color;

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #f6f4f4;
      opacity: 0.3;
      z-index: -1;
    }
    &:hover {
      cursor: pointer;
      background-color: rgba(255,173,119, .2);
    }
    &:active {
      background-color: transparent;
    }
  }

  &.m--with-loader {
    display: flex;
    align-items: center;

    .loader {
      width: 0;
      margin-left: 0;
      opacity: 0;
      transition: .5s;
    }
  }

  &.m--noactive {
    background-color: $common-gray-lighter-color;
    border: 1px solid $main-light-text-color;

    &:before {
      display: none;
    }

    &:hover {
      cursor: not-allowed;
      background-color: $common-gray-lighter-color;
    }
  }
}
