.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: $tabletWidth) and (min-width: $mobileWidth + 1) {
  .container {
    max-width: 980px;
  }
}

@media only screen and (max-width: $mobileWidth) {
  .container {
    max-width: none;
    padding: 0 20px;
  }
}