.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: 1199px) and (min-width: 980px) {
  .container {
    max-width: 980px;
  }
}

@media only screen and (max-width: 979px) {
  .container {
    max-width: none;
    padding: 0 20px;
  }
}