.main-form {
  display: flex;
  flex-direction: column;

  h3 {
    color: $main-light-text-color;
    font-family: $mainfont;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  label {
    position: relative;

    span.error {
      display: none;
      position: absolute;
      bottom: -36px;
      left: 0;
      font-weight: 400;
      width: 100%;
      border-radius: 0 0 8px 8px;
      font-size: 14px;
      line-height: 30px;
      color: $common-alert-color;
      text-align: left;
      z-index: 2;
    }

    span {
      color: $main-text-color;
      font-family: $mainfont;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 500;
      margin-bottom: 5px;

      &.info {
        margin-bottom: 0;
        margin-top: 10px;
        max-width: 400px;
        font-size: 14px;
        font-weight: 300;
      }
    }

    &.label-error {
      span.error {
        display: block;
        position: absolute;
        bottom: -36px;
        left: 0;
        font-weight: 400;
        width: 100%;
        border-radius: 0 0 8px 8px;
        font-size: 14px;
        line-height: 30px;
        color: $common-alert-color;
        text-align: left;
        z-index: 2;
      }

      &.label-input {
        input {
          border: 1px solid $common-alert-light-color;
          background-color: $common-white-color;
        }
      }

      &.label-checkbox {
        span:before {
          border: 2px solid $common-alert-light-color;
        }
      }
    }

    &.label-input {
      display: flex;
      flex-direction: column;
      margin-bottom: 31px;

      input, textarea {
        min-width: 400px;
        width: 100%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        border: 1px solid #eaeae8;
        background-color: $white-text-color;
        height: 50px;
        font-family: $mainfont;
        font-size: 18px;
        font-weight: 400;
        padding: 0 20px;
        line-height: 50px;
      }
    }

    &.label-checkbox {
      margin-bottom: 20px;
      padding-left: 20px;
	  font-size: 14px;
      .check__input {
        position: absolute;
        -webkit-appearance: none;
      }

      .check__box {
        position: absolute;
        transition: 0.2s;
        margin-top: .1em;
        left: 0;
        width: 12px;
        height: 12px;
        overflow: hidden;
        border-radius: 0.05em;
        background-color: white;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        box-shadow: 0 0 0 1.5px $common-orange-light-color;
      }

      .check__input:checked + .check__box {
		background-image: url(/../../dist/img/checked_svg.svg);
        background-color: $common-orange-light-color;
      }

      a {
        color: $common-orange-color;
      }
    }

    &.label-select {
      margin-bottom: 31px;
      display: flex;
      flex-direction: column;

      select {
        width: 100%;
      }
    }
  }

  select {
    width: 350px;
    padding: 0 15px;
    color: $main-text-color;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid $common-gray-lighter-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    height: 53px;
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  &.m--registration {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    align-items: center;

    .input-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    label {
      max-width: 500px;
    }

    .label-error {
      &.m--password {
        span.info {
          color: $common-alert-color;;
          font-weight: 400;
        }
      }
    }

    .label-checkbox {
      margin-top: 30px;
    }

    .button-wrapper {
      margin-bottom: 0;
    }
  }
}