body {
  font-family: $mainfont;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  background-color: $bg-second-color;
  min-width: 320px;
}

input, textarea {
  border: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  resize: none;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.block-line {
  width: 100%;
  height: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
  background-color: $white-text-color;
}

.link-global {
  color: $orange-text-color;
  &:hover {
    text-decoration: underline;
  }
}

.h1Header {
  color: $main-text-color;
  font-family: $mainfont;
  font-size: 46px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  line-height: 1.3;

  @media only screen and (max-width: $tabletWidth) and (min-width: $mobileWidth + 1) {
    font-size: 42px;
  }

  @media only screen and (max-width: $mobileWidth) {
    font-size: 32px;
  }
}

.h2Header {
  color: $main-text-color;
  font-family: $mainfont;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  line-height: 1.2;

  &.h2Underline:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -9px;
    width: 100%;
    height: 2px;
    background-color: $bg-orange-color;
  }
  @media only screen and (max-width: $tabletWidth) and (min-width: $mobileWidth + 1) {
    font-size: 34px;
  }

  @media only screen and (max-width: $mobileWidth) {
    font-size: 26px;
  }
}

.h3Header {
  color: $main-text-color;
  font-family: $mainfont;
  font-size: 30px;
  font-weight: 400;
  display: inline-block;
  line-height: 1.2;

  @media only screen and (max-width: $tabletWidth) and (min-width: $mobileWidth + 1) {
    font-size: 28px;
  }

  @media only screen and (max-width: $mobileWidth) {
    font-size: 24px;
  }
}