.loader {
  display: inline-block;
  width: 41px;
  height: 41px;

  &:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid $bg-white-color;
    border-color: $bg-white-color transparent $bg-white-color transparent;
    animation: loader 1.5s linear infinite;
  }

  &.center-page {
    &:after {
      border: 5px solid $bg-orange-color;
      border-color: $bg-orange-color transparent $bg-orange-color transparent;
    }
  }

  &.active-loader.m--loader {
    opacity: 1;
    width: 41px;
    margin-left: 20px;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.lp-animation-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 286px);
  .svg {
    width: 300px;
    height: auto;
  }
  .st0 {
    fill:#fff;
    stroke: #ea6b18;
    stroke-width: 5px;
  }
  .st1 {
    fill:none;
  }
  .st2 {
    fill:#ea6b18
  }
  .svg .st1 {
    stroke:#ea6b18;
    stroke-width: 20px;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-dasharray: 7705px;
    transition: all 1s linear;
    animation-iteration-count: infinite;
    animation: pulse 2s ease-in-out infinite;
  }

  @keyframes pulse {
    0% { stroke-dashoffset: 7705px; }
    100% { stroke-dashoffset: 0; }
  }
}