.logn-popup-enter {
  opacity: 0.01;
}

.logn-popup-enter.logn-popup-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.logn-popup-leave {
  opacity: 1;
}

.logn-popup-leave.logn-popup-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}