.faq-security-block {
  padding: 120px 75px 50px 75px;
  h1 {
    color: #252526;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 15px;
    color: #252526;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 21px;
    strong {
      font-weight: 600;
    }
  }
}

@media only screen and (max-width: $tabletWidth) and (min-width: $mobileWidth + 1) {
  .faq-security-block {
    padding: 120px 50px 50px 50px;
  }
}

@media only screen and (max-width: $mobileWidth) {
  .faq-security-block {
    padding: 100px 0 50px 0;
  }
}