<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
    <link rel="stylesheet" href="../../../dist/css/styles.css">
</head>
<body>

<header>
    <div class="fixed-nav">
        <div class="search-block hide">
            <div class="container">
                <form class="hide" action="">
                    <label class="input">
                        <input type="text" placeholder="Начните поиск">
                    </label>
                    <button class="btn m--h40">
                        Поиск
                    </button>

                    <button type="button" class="btn-close">
                        <i class="fas fa-times"></i>
                    </button>
                </form>
            </div>

        </div>
        <nav class="container">
            <div>
                <a href="#">О нас</a>
                <button type="button">
                    F.A.Q.
                    <ul class="sub-menu">
                        <li>
                            <a href="#">Как пожертвовать</a>
                        </li>
                        <li>
                            <a href="#">Как создать заявку</a>
                        </li>
                        <li>
                            <a href="#">Способы оплаты</a>
                        </li>
                        <li>
                            <a href="#">Правила использования сервиса</a>
                        </li>
                    </ul>
                </button>
                <a href="#">Блог</a>
                <a href="#">История успеха</a>
            </div>

            <a href="#" class="">
                <img src="../../../dist/img/img-logo.png" alt="">
            </a>
            <div>
                <a href="#">Благотворители</a>
                <a href="#" class="enter-link">Вход</a>
                <span> | </span>
                <a href="#" class="registration-link">Регистрация</a>
                <button type="button" class="header-search">
                    <i class="fas fa-search"></i>Поиск
                </button>
            </div>
        </nav>
    </div>


    <div class="text-block container">
        <h1>
            <span>Lifes</span> <span>Pulse</span>
        </h1>
        <p>
            предоставляет возможность
            начать моментальный сбор
            средств на лечение
        </p>

        <div class="button-block">
            <button class="btn" type="button">Начать сбор средств</button>
            <a href="#" class="btn m--orange">Начать помогать</a>
        </div>
    </div>
</header>

<div class="card-block">
    <h2>
        ТОП СБОРА СРЕДТСТВ
    </h2>

    <ul class="card-list">
        <li>
            <a href="#" class="card">
                <div class="img-wrapper">
                    <img src="../../../dist/img/card1.jpg" alt="">
                </div>
                <div class="social-block">
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-eye"></i>
                            755
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="fas fa-share-alt"></i>
                            23
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-heart"></i>
                            122
                        </a>
                    </object>
                </div>
                <div class="text-block">
                    <h3>
                        Генрин Верини
                    </h3>
                    <p>
                        Туберкулез - Не следует, однако забывать, что начало повседневной работы по формированию позиции
                        влечет за собой процесс внедрения и модернизации
                    </p>

                    <div class="progress-block">
                        <div class="bar">
                            <div class="fill"></div>
                        </div>
                        <div class="progress-block-text">
                            <span>Собрано 10000 грн </span>
                            <span>из 15000 грн</span>
                        </div>

                    </div>
                </div>

            </a>
        </li>
        <li>
            <a href="#" class="card">
                <div class="img-wrapper">
                    <img src="../../../dist/img/card2.jpg" alt="">
                </div>
                <div class="social-block">
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-eye"></i>
                            755
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="fas fa-share-alt"></i>
                            23
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-heart"></i>
                            122
                        </a>
                    </object>
                </div>
                <div class="text-block">
                    <h3>
                        Генрин Верини
                    </h3>
                    <p>
                        Туберкулез - Не следует, однако забывать, что начало повседневной работы по формированию позиции
                        влечет за собой процесс внедрения и модернизации
                    </p>

                    <div class="progress-block">
                        <div class="bar">
                            <div class="fill"></div>
                        </div>
                        <div class="progress-block-text">
                            <span>Собрано 10000 грн </span>
                            <span>из 15000 грн</span>
                        </div>

                    </div>
                </div>

            </a>
        </li>
        <li>
            <a href="#" class="card">
                <div class="img-wrapper">
                    <img src="../../../dist/img/card3.jpg" alt="">
                </div>
                <div class="social-block">
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-eye"></i>
                            755
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="fas fa-share-alt"></i>
                            23
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-heart"></i>
                            122
                        </a>
                    </object>
                </div>
                <div class="text-block">
                    <h3>
                        Генрин Верини
                    </h3>
                    <p>
                        Туберкулез - Не следует, однако забывать, что начало повседневной работы по формированию позиции
                        влечет за собой процесс внедрения и модернизации
                    </p>

                    <div class="progress-block">
                        <div class="bar">
                            <div class="fill"></div>
                        </div>
                        <div class="progress-block-text">
                            <span>Собрано 10000 грн </span>
                            <span>из 15000 грн</span>
                        </div>

                    </div>
                </div>

            </a>
        </li>
    </ul>

    <div class="show-more">
        <a href="#">Посмотреть еще</a>
    </div>

</div>



<div class="blog-post">
    <div class="single-post">
        <div class="img-block">
            <img src="../../../dist/img/blog1.jpg" alt="">
        </div>
        <div class="text-block">
            <div>
                <h2>Заголовок блога</h2>
                <p>
                    “Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                    стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
                    спережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в
                    новое время послужили недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах
                    которых используется ”
                </p>
            </div>
            <a href="#" class="btn m--black">Подробнее</a>
        </div>
    </div>
</div>

<div class="info-block">
    <div class="info-block-wrapper">
    <h2>
        Ваша помощь неоценима
    </h2>
    <ul class="info-block-list">
        <li>
            <div class="icon-wrapper">
                <i class="fas fa-star-of-life"></i>
            </div>

            <div class="text-block">
                <h4>Мировой лидер
                </h4>
                <p>
                    Мировой лидер дла бла дла для этого текста ла лала мы что то еще
                </p>
            </div>
        </li>
        <li>
            <div class="icon-wrapper">
            <i class="fas fa-heartbeat"></i>
            </div>
            <div class="text-block">
                <h4>Мировой лидер
                </h4>
                <p>
                    Мировой лидер дла бла дла для этого текста ла лала мы что то еще
                </p>
            </div>
        </li>
        <li>
            <div class="icon-wrapper">
            <i class="fab fa-pagelines"></i>
            </div>
            <div class="text-block">
                <h4>Мировой лидер
                </h4>
                <p>
                    Мировой лидер дла бла дла для этого текста ла лала мы что то еще
                </p>
            </div>
        </li>
        <li>
            <div class="icon-wrapper">
            <i class="fas fa-hand-holding-usd"></i>
            </div>
            <div class="text-block">
                <h4>Мировой лидер
                </h4>
                <p>
                    Мировой лидер дла бла дла для этого текста ла лала мы что то еще
                </p>
            </div>
        </li>
        <li>
            <div class="icon-wrapper">
            <i class="fas fa-medkit"></i>
            </div>
            <div class="text-block">
                <h4>Мировой лидер
                </h4>
                <p>
                    Мировой лидер дла бла дла для этого текста ла лала мы что то еще
                </p>
            </div>
        </li>
        <li>
            <div class="icon-wrapper">
            <i class="fas fa-hands-helping"></i>
            </div>
            <div class="text-block">
                <h4>Мировой лидер
                </h4>
                <p>
                    Мировой лидер дла бла дла для этого текста ла лала мы что то еще
                </p>
            </div>
        </li>
    </ul>

    <div class="button-wrapper">
        <a href="#" class="btn m--orange">Начать помогать</a>
    </div>

    </div>
</div>

<div class="blog-post">
    <div class="single-post">
        <div class="img-block">
            <img src="../../../dist/img/blog1.jpg" alt="">
        </div>
        <div class="text-block">
            <div>
                <h2>Заголовок блога</h2>
                <p>
                    “Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                    стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
                    спережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в
                    новое время послужили недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах
                    которых используется ”
                </p>
            </div>
            <a href="#" class="btn m--black">Подробнее</a>
        </div>
    </div>
</div>

<div class="card-block">
    <h2>
        ТОП СБОРА СРЕДТСТВ
    </h2>

    <ul class="card-list">
        <li>
            <a href="#" class="card">
                <div class="img-wrapper">
                    <img src="../../../dist/img/card1.jpg" alt="">
                </div>
                <div class="social-block">
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-eye"></i>
                            755
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="fas fa-share-alt"></i>
                            23
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-heart"></i>
                            122
                        </a>
                    </object>
                </div>
                <div class="text-block">
                    <h3>
                        Генрин Верини
                    </h3>
                    <p>
                        Туберкулез - Не следует, однако забывать, что начало повседневной работы по формированию позиции
                        влечет за собой процесс внедрения и модернизации
                    </p>

                    <div class="progress-block">
                        <div class="bar">
                            <div class="fill"></div>
                        </div>
                        <div class="progress-block-text">
                            <span>Собрано 10000 грн </span>
                            <span>из 15000 грн</span>
                        </div>

                    </div>
                </div>

            </a>
        </li>
        <li>
            <a href="#" class="card">
                <div class="img-wrapper">
                    <img src="../../../dist/img/card2.jpg" alt="">
                </div>
                <div class="social-block">
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-eye"></i>
                            755
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="fas fa-share-alt"></i>
                            23
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-heart"></i>
                            122
                        </a>
                    </object>
                </div>
                <div class="text-block">
                    <h3>
                        Генрин Верини
                    </h3>
                    <p>
                        Туберкулез - Не следует, однако забывать, что начало повседневной работы по формированию позиции
                        влечет за собой процесс внедрения и модернизации
                    </p>

                    <div class="progress-block">
                        <div class="bar">
                            <div class="fill"></div>
                        </div>
                        <div class="progress-block-text">
                            <span>Собрано 10000 грн </span>
                            <span>из 15000 грн</span>
                        </div>

                    </div>
                </div>

            </a>
        </li>
        <li>
            <a href="#" class="card">
                <div class="img-wrapper">
                    <img src="../../../dist/img/card3.jpg" alt="">
                </div>
                <div class="social-block">
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-eye"></i>
                            755
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="fas fa-share-alt"></i>
                            23
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-heart"></i>
                            122
                        </a>
                    </object>
                </div>
                <div class="text-block">
                    <h3>
                        Генрин Верини
                    </h3>
                    <p>
                        Туберкулез - Не следует, однако забывать, что начало повседневной работы по формированию позиции
                        влечет за собой процесс внедрения и модернизации
                    </p>

                    <div class="progress-block">
                        <div class="bar">
                            <div class="fill"></div>
                        </div>
                        <div class="progress-block-text">
                            <span>Собрано 10000 грн </span>
                            <span>из 15000 грн</span>
                        </div>

                    </div>
                </div>

            </a>
        </li>
    </ul>

    <div class="show-more">
        <a href="#">Посмотреть еще</a>
    </div>

</div>

<div class="info-block m--bg-gray">
    <div class="info-block-wrapper">
        <h2>
            Вы можете найти помощь здесь
        </h2>
        <ul class="info-block-list">
            <li>
                <div class="icon-wrapper">
                    <i class="fas fa-star-of-life"></i>
                </div>

                <div class="text-block">
                    <h4>Мировой лидер
                    </h4>
                    <p>
                        Мировой лидер дла бла дла для этого текста ла лала мы что то еще
                    </p>
                </div>
            </li>
            <li>
                <div class="icon-wrapper">
                    <i class="fas fa-heartbeat"></i>
                </div>
                <div class="text-block">
                    <h4>Мировой лидер
                    </h4>
                    <p>
                        Мировой лидер дла бла дла для этого текста ла лала мы что то еще
                    </p>
                </div>
            </li>
            <li>
                <div class="icon-wrapper">
                    <i class="fab fa-pagelines"></i>
                </div>
                <div class="text-block">
                    <h4>Мировой лидер
                    </h4>
                    <p>
                        Мировой лидер дла бла дла для этого текста ла лала мы что то еще
                    </p>
                </div>
            </li>
            <li>
                <div class="icon-wrapper">
                    <i class="fas fa-hand-holding-usd"></i>
                </div>
                <div class="text-block">
                    <h4>Мировой лидер
                    </h4>
                    <p>
                        Мировой лидер дла бла дла для этого текста ла лала мы что то еще
                    </p>
                </div>
            </li>
            <li>
                <div class="icon-wrapper">
                    <i class="fas fa-medkit"></i>
                </div>
                <div class="text-block">
                    <h4>Мировой лидер
                    </h4>
                    <p>
                        Мировой лидер дла бла дла для этого текста ла лала мы что то еще
                    </p>
                </div>
            </li>
            <li>
                <div class="icon-wrapper">
                    <i class="fas fa-hands-helping"></i>
                </div>
                <div class="text-block">
                    <h4>Мировой лидер
                    </h4>
                    <p>
                        Мировой лидер дла бла дла для этого текста ла лала мы что то еще
                    </p>
                </div>
            </li>
        </ul>

        <div class="button-wrapper">
            <a href="#" class="btn m--black">Начать сбор средств</a>
        </div>
    </div>



</div>

<footer>
    <div class="container">
        <div class="footer-nav">
            <div class="footer-link-block">
                <a href="#">Благотворители</a>
                <a href="#">Поиск</a>
                <a href="#">F.A.Q.</a>
                <a href="#">История успеха</a>
            </div>
            <div class="footer-link-block">
                <a href="#">Поиск</a>
                <a href="#">Блог</a>
                <a href="#">История успеха</a>
                <a href="#">F.A.Q.</a>
            </div>
            <div class="footer-nav-logo">
                <a href="#"><img src="../../../dist/img/img-logo.png" alt="logo"></a>
            </div>
            <div class="footer-link-block">
                <a href="#">Поиск</a>
                <a href="#">Блог</a>
                <a href="#">История успеха</a>
                <a href="#">F.A.Q.</a>
            </div>
            <div class="footer-link-block">
                <a href="#">Поиск</a>
                <a href="#">История успеха</a>
                <a href="#">F.A.Q.</a>
                <div class="footer-link-block social-link">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-vk"></i></a>
                    <a href="#"><i class="fab fa-odnoklassniki-square"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    Copyright © 2018. All rights reserved.
</div>

<script src="../../../dist/js/index.js"></script>
</body>
</html>