.page-not-found {
  position: relative;
  background-image: url("/../../dist/img/bg_404.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 130px;
  padding-bottom: 130px;
    h1 {
      color: white;
      font-size: 122px;
      text-align: center;
      margin-bottom: 60px;
    }
    h2 {
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    p {
      color: $main-text-color;
      font-size: 21px;
      line-height: 28px;
      max-width: 500px;
      margin-bottom: 120px;
    }
    a {
      color: $orange-text-color;
      font-size: 21px;
      line-height: 28px;
      display: table;
      margin-bottom: 30px;
    }
}

@media only screen and (max-width: $tabletWidth) and (min-width: $mobileWidth + 1) {

}

@media only screen and (max-width: $mobileWidth) {

}