.main-footer {
  background-color: $bg-main-dark-color;
  padding: 50px 0 30px;

  .main-footer-wrapper {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &:last-child {
      padding: 25px 0 0;
      justify-content: center;
      border-top: 1px solid rgba(255,255,255,0.2);
    }

    h6 {
      color: $light-gray-text-color;
      font-family: $mainfont;
      font-size: 16px;
      font-weight: 300;
    }

    & > div:first-child {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
    }

    .contact-link {
      margin-right: 130px;

      a {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-weight: 300;

        svg {
          width: 20px;
          height: 20px;
          fill: $bg-orange-color;
          margin-right: 10px;
        }

        span {
          color: $light-gray-text-color;
          font-family: $mainfont;
        }
      }
    }

    .nav-block {
      display: flex;
      flex-wrap: wrap;

      & > div:first-child {
        margin-right: 96px;
      }

      a, button {
        display: flex;
        color: $light-gray-text-color;
        font-family: $mainfont;
        font-weight: 300;
        margin-bottom: 20px;
        font-size: 16px;
      }

      .padding-left {
        a {
          padding-left: 10px;
          margin-bottom: 15px;

          &:first-child {
            padding-left: 0;
          }
        }
      }
    }

    .social-network {
      h5 {
        color: $light-gray-text-color;
        font-family: $mainfont;
        font-weight: 500;
        margin-bottom: 10px;
      }

      ul {
        display: flex;

        li {
          margin-right: 12px;

          a {
            display: block;

            svg {
              width: 30px;
              height: 30px;
              fill: $bg-orange-color;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $tabletWidth) and (min-width: $mobileWidth + 1) {
  .main-footer {
    .main-footer-wrapper {
      max-width: 767px;
    }
  }
}

@media only screen and (max-width: $mobileWidth) {
  .main-footer {
    .main-footer-wrapper {
      max-width: none;
      padding: 0 20px;
    }
  }
}