header {
  width: 100%;
  height: 634px;
  //background-image: url("../img/header-baner.jpg");
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%)
  //, url(../img/header-baner.jpg)
   ;
  background-position-y: center;
  background-size: cover;
  position: relative;

  & > * {
    position: relative;
    z-index: 2;
  }

  .img-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 634px;
    z-index: 1;

    img {
      height: 634px;
      object-fit: cover;
      width: 100%;
    }
  }

  & > .fixed-nav {
    background-color: rgba(0,0,0, .8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    & > .container {
      padding-bottom: 12px;
      padding-top: 12px;
    }
  }

  .header-logo {
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      span {
        color: $white;
        padding: 2px 5px;
      }
      .enter-link {
        margin-right: 0;
        color: $maincolor;
      }
      .registration-link {
        margin-right: 25px;
        color: $maincolor;
      }
      a, button {
        background-color: transparent;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        color: $white;
        font-size: 16px;
        font-weight: 400;
        margin-right: 40px;
        transition: .2s;
        position: relative;
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -5px;
          left: 50%;
          width: 0;
          transition: .3s;
          height: 1px;
          background-color: $maincolor;
        }
        &:hover {
          cursor: pointer;

          &:after {
            width: 100%;
            left: 0;
          }

          & > .sub-menu {
            display: block;
          }
        }
        i {
          font-size: 14px;
          margin-right: 8px;
        }

        .sub-menu {
          display: none;
          padding: 20px 25px 0 25px;
          margin-top: -20px;
          border-top: 20px solid transparent;
          position: absolute;
          top: 41px;
          left: 0;
          background: rgba(0,0,0, .8);
          background-clip: padding-box;

          li {
            padding-bottom: 30px;
            width: 100%;
            text-align: left;

            a {
              white-space: pre;
              display: inline-block;
            }
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

  }

  .text-block {
    padding-top: 150px;
    padding-left: 70px;

    h1 {
      font-size: 0;
      margin-bottom: 24px;
      span {
        &:first-child {
          font-size: 72px;
          color: $maincolor;
          font-weight: 700;
        }
        &:last-child {
          font-weight: 300;
          font-size: 72px;
          color: $white;
        }
      }
    }

    p {
      max-width: 470px;
      color: $white;
      font-size: 30px;
      font-weight: 300;
      line-height: 35px;
      margin-bottom: 26px;
    }

    .button-block {
      display: flex;

      *:first-child {
        margin-right: 30px;
      }
    }
  }

  .search-block {

    overflow: hidden;
    background-color: #f5f5f5;
    width: 100%;
    height: 60px;

    & > .container {
      display: flex;
      align-items: center;
      height: 100%;
    }

    form {
      overflow: hidden;
      transition: .5s;
      width: 100%;
      display: flex;

      label.input {
        width: 100%;
        margin-right: 40px;

        input {
          font-family: $mainfont;
          font-size: 18px;
          line-height: 22px;
          padding: 0 15px;
          height: 40px;
          width: 100%;
          border: 1px solid #e4e4e4;
          box-sizing: border-box;
          outline: none;
          color: $textcolor;

          &::placeholder {
            color: $textcolor;
            font-style: italic;
          }
        }
      }

      button {
        flex-shrink: 0;
        margin-right: 40px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  form.hide {
    transition: .3s;
    width: 0;
  }

  .search-block.hide {
    //animation: search-hide .6s;
    width: 0;
    height: 0;
  }

  .search-block.show {
    animation: search-show .6s !important;
    border-bottom: 1px solid $white;
    background-color: transparent;
  }



  @keyframes search-show {
    0% { height: 0; width: 0 }
    25% {height: 60px; width: 0}
    100% { width: 100% }
  }

  @keyframes search-hide {
    0% { height: 60px; width: 100% }
    75% {height: 60px; width: 0}
    100% {height: 0 }
  }
}

