.main-header {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
  background-color: rgba(54, 54, 54, .99);
  opacity: 0.99;
  height: 65px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 20;

  .main-header-wrapper {
    max-width: 1051px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    height: 100%;
    align-items: center;
    .logo-side {
      width: 130px;
      a {
        display: flex;
        align-items: center;
      }
      img {
        width: 100%;
      }
    }
    .navigation-side-mobile, .header__navToggle {
      display: none;
    }
    .navigation-side {
      display: flex;
      justify-content: space-between;

      .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 30px;

        .hover-submenu {
          position: relative;
          &:hover .submenu {
            display: block;
          }
        }

        li {
          margin-right: 30px;

          &:last-child {
            margin-right: 0;
          }

          a, button {
            color: $white-text-color;
            font-size: 16px;
            font-weight: 300;
            line-height: 18px;
            transition: .2s;
            position: relative;

            &:after {
              content: '';
              display: block;
              position: absolute;
              bottom: -5px;
              left: 50%;
              width: 0;
              transition: .3s;
              height: 1px;
              background-color: $bg-orange-color;
            }

            &:hover {
              cursor: pointer;

              &:after {
                width: 100%;
                left: 0;
              }

              & > .sub-menu {
                display: block;
              }
            }
          }
        }
      }

      .button-block {
        display: flex;
        align-items: center;

        .header-search {
          margin-right: 30px;

          svg {
            width: 21px;
            height: 21px;
          }
        }
      }
    }
  }

  &.m--account-admin {
    .main-header-wrapper {
      max-width: 1400px;
      padding: 0 33px;
      .button-block {
        display: flex;
        button {
          margin-left: 50px;
          color: $white-text-color;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }

    .button-block {
      span, a {
        color: $white-text-color;
        font-family: $mainfont;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        margin-right: 20px;
      }

      a {
        color: $orange-text-color;
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: $tabletWidth) and (min-width: $mobileWidth + 1) {
  .main-header {
    .main-header-wrapper {
      .header__navToggle {
        display: block;
        width: 35px;
        height: 26px;
        cursor: pointer;
        position: relative;
        &.active-burger {
          span {
            margin: 0;
            position: absolute;
            &:first-child {
              transform: rotate(-45deg);
              top: 11px;
            }
            &:nth-child(2) {
              display: none;
            }
            &:last-child {
              transform: rotate(45deg);
              top: 11px;
            }
          }
        }
        span {
          display: block;
          width: 35px;
          height: 3px;
          margin-bottom: 8px;
          background-color: white;
          transition: .3s;
          border-radius: 4px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .navigation-side-mobile {
        display: block;
        position: absolute;
        top: 65px;
        right:0;
        width: 0;
        background: white;
        border-bottom: 1px solid lightgray;
        .navigation {
          display: none;
        }
        .button-block {
          display: none;
        }

        &.active-nav-mobile {
          transition: width 1s;
          -webkit-transition: width .7s;
          width: 100%;
          .navigation {
            display: block;
            li {
              text-align: center;
              margin: 30px 0;
              a, button {
                font-family: $mainfont;
                color: $main-text-color;
                font-size: 24px;
                font-weight: 300;
                line-height: 1.4px;
                margin: 0 auto;
                &:hover {
                  font-weight: 400;
                  color: $orange-text-color;
                }
              }
              button {
                height: 22px;
              }
            }
          }
          .button-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 20px;
            border-top: 1px solid lightgray;
            li {
              margin-bottom: 15px;
              text-align: center;
            }
            .header-login-popup {
              color: $main-text-color;
              font-size: 22px;
              line-height: 1.4;
              margin: 0 auto 10px auto;
            }
          }
        }
      }
      .navigation-side {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: $mobileWidth) {
  .main-header {
    .main-header-wrapper {
      .header__navToggle {
        display: block;
        width: 35px;
        height: 26px;
        cursor: pointer;
        position: relative;
        &.active-burger {
          span {
            margin: 0;
            position: absolute;
            &:first-child {
              transform: rotate(-45deg);
              top: 11px;
            }
            &:nth-child(2) {
              display: none;
            }
            &:last-child {
              transform: rotate(45deg);
              top: 11px;
            }
          }
        }
        span {
          display: block;
          width: 35px;
          height: 3px;
          margin-bottom: 8px;
          background-color: white;
          transition: .3s;
          border-radius: 4px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .navigation-side-mobile {
        display: block;
        position: absolute;
        top: 65px;
        right:0;
        width: 0;
        height: 100vh;
        background: white;
        .navigation {
          display: none;
        }
        .button-block {
          display: none;
        }

        &.active-nav-mobile {
          transition: width 1s;
          -webkit-transition: width .7s;
          width: 100%;
          .navigation {
            display: block;
            li {
              text-align: center;
              margin: 30px 0;
              a, button {
                font-family: $mainfont;
                color: $main-text-color;
                font-size: 24px;
                font-weight: 300;
                line-height: 1.4px;
                margin: 0 auto;
                &:hover {
                  font-weight: 400;
                  color: $orange-text-color;
                }
              }
              button {
                height: 22px;
              }
            }
          }
          .button-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 20px;
            border-top: 1px solid lightgray;
            li {
              margin-bottom: 15px;
              text-align: center;
            }
            .header-login-popup {
              color: $main-text-color;
              font-size: 22px;
              line-height: 1.4;
              margin: 0 auto 10px auto;
            }
          }
        }
      }
      .navigation-side {
        display: none;
      }
    }
  }
}