.marketing-block {
  background-color: $bg-third-color;
  padding: 50px 0;

  .h2Header  {
    margin-bottom: 39px;
  }

  .info-block-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      width: 30%;
      margin-bottom: 40px;
      display: flex;

      img {
        width: 55px;
        height: 50px;
        flex-shrink: 0;
        margin-right: 23px;
      }
      h2 {
        width: 55px;
        height: 50px;
        flex-shrink: 0;
        margin-right: 23px;
        font-size: 55px;
        color: $orange-text-color;
      }

      .text-block {
        display: flex;
        flex-direction: column;
        max-width: 240px;

        h5 {
          color: $main-text-color;
          font-family: $mainfont;
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 24px;
        }

        h6 {
          color: $main-text-color;
          font-family: $mainfont;
          font-size: 16px;
          line-height: 21px;
        }
      }
    }
  }
}

@media only screen and (max-width: $tabletWidth) and (min-width: $mobileWidth + 1) {
  .marketing-block {
    .info-block-list {
      justify-content: space-around;
      li {
        width: 40%;
        margin-bottom: 15px;
        h2, img {
          width: 40px;
          font-size: 50px;
        }
        .text-block {
          h5 {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $mobileWidth) {
  .marketing-block {
    .info-block-list {
      li {
        width: 90%;
        margin-bottom: 15px;
        h2, img {
          width: 40px;
        }
        .text-block {
          max-width: none;
          h5 {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}