.marketing-block {
  background-color: $bg-third-color;
  padding: 50px 0;

  h2 {
    margin-bottom: 39px;
  }

  .info-block-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      width: 30%;
      margin-bottom: 40px;
      display: flex;

      img {
        width: 55px;
        height: 50px;
        flex-shrink: 0;
        margin-right: 23px;
      }
      h2 {
        width: 55px;
        height: 50px;
        flex-shrink: 0;
        margin-right: 23px;
        font-size: 55px;
        color: $orange-text-color;
      }

      .text-block {
        display: flex;
        flex-direction: column;
        max-width: 240px;

        h5 {
          color: $main-text-color;
          font-family: $mainfont;
          font-size: 21px;
          font-weight: 700;
          margin-bottom: 24px;
        }

        h6 {
          color: $main-text-color;
          font-family: $mainfont;
          font-size: 16px;
          line-height: 21px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 980px) {

}

@media only screen and (max-width: 979px) {
  .marketing-block {
    .info-block-list {
      li {
        width: 90%;
        .text-block {
          max-width: none;
        }
      }
    }
  }
}