.subscribe-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .subscribe-block-wrapper {
    width: 806px;
    position: relative;
    z-index: 2;
    margin: 0 auto;

    h2 {
      margin-bottom: 50px;

      &:after {
        display: none;
      }

      span {
        color: $bg-orange-color;
      }
    }

    form {
      display: flex;
      justify-content: space-between;
      align-items: center;

      label {
        input {
          width: 580px;
          height: 50px;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          border: 1px solid #eaeae8;
          background-color: $bg-white-color;
          padding: 0 30px;
          font-family: $mainfont;
          font-size: 21px;
          color: $main-text-color;

          &::-webkit-input-placeholder {
            color: #cccbca;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $tabletWidth) and (min-width: $mobileWidth + 1) {
  .subscribe-block {
    .subscribe-block-wrapper {
      width: 700px;
      form {
        label {
          input {
            width: 500px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $mobileWidth) {
  .subscribe-block {
    .subscribe-block-wrapper {
      width: 100%;
      form {
        flex-wrap: wrap;
        label {
          width: 100%;
          margin-bottom: 25px;
          input {
            width: 100%;
          }
        }
        .btn {
          width: 100%;
        }
      }
    }
  }
}