.registration-block {
  padding: 100px 0 50px 0;

    h1 {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 50px;
    }

    h3 {
      text-align: center;
      color: $main-text-color;
      font-family: $mainfont;
      font-size: 21px;
      font-weight: 400;
      line-height: 21px;
    }

    .main-form {
      margin-bottom: 50px;
    }
}

@media only screen and (max-width: $tabletWidth) and (min-width: $mobileWidth + 1) {
  .registration-block {
    padding: 100px 0 50px 0;
  }
}

@media only screen and (max-width: $mobileWidth) {
  .registration-block {
    padding: 100px 0 50px 0;
  }
}