.search-input-block {
  padding: 100px 0 0;
  .clear-search {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    button {
      font-size: 16px;
      color: $main-text-color;
    }
  }
  form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    label {
      position: relative;
      .header-search {
        position: absolute;
        top: 17px;
        right: 25px;
        svg {
          height: 21px;
          width: 21px;
          fill: $main-light-text-color;
        }
      }
    }
    input {
      width: 500px;
      height: 50px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
      border: 1px solid $common-gray-lighter-color;
      background-color: $bg-white-color;
      padding: 0 30px 0 30px;
      font-family: $mainfont;
      font-size: 21px;
      color: $main-text-color;
    }
    select {
      width: 350px;
      padding: 0 15px;
      color: $main-text-color;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
      border: 1px solid $common-gray-lighter-color;
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      option {
        width: 350px;
        word-break: break-word;
      }
    }
  }
}
.search-result-navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 30px;
  width: 100%;
  .search-result-sort {
    button {
      display: inline-block;
      margin-right: 25px;
      color: $main-text-color;
      font-family: $mainfont;
      font-size: 16px;
      font-weight: 500;
      border-bottom: 2px solid transparent;
      &:focus {
        color: $bg-orange-color;
        border-bottom: 2px solid $bg-orange-color;
      }
    }
  }
}

@media only screen and (max-width: $tabletWidth) and (min-width: $mobileWidth + 1) {
  .search-input-block {
    padding: 100px 0 0 0 ;
    form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      label {

      }
      input {
        width: 350px;
        padding: 0 50px 0 15px;
      }
      select {
        width: 250px;
      }
    }
  }
}

@media only screen and (max-width: $mobileWidth) {
  .search-input-block {
    padding: 100px 0 0 0;
    form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      label {
        width: 100%;
        margin-bottom: 20px;
      }
      input {
        width: 100%;
        padding: 0 50px 0 15px;
      }
      select {
        width: 100%;
        height: 50px;
      }
      button {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}
