<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifesPulse | Поиск</title>
    <link rel="stylesheet" href="../../../dist/css/styles.css">
</head>
<body>

<header class="h--st1">
    <div class="fixed-nav">
        <div class="search-block hide">
            <div class="container">
                <form class="" action="">
                    <label class="input">
                        <input type="text" placeholder="Начните поиск">
                    </label>
                    <button class="btn m--h40">
                        Поиск
                    </button>

                    <button type="button" class="btn-close">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" version="1.1" height="22px" viewBox="0 0 64 64" enable-background="new 0 0 64 64">
                            <g>
                                <path fill="#FFFFFF" d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"/>
                            </g>
                        </svg>
                    </button>
                </form>
            </div>

        </div>
        <nav class="container">
            <div>
                <a href="#">О нас</a>
                <button class="faq-link" type="button">
                    F.A.Q.
                    <ul class="sub-menu">
                        <li>
                            <a href="#">Как пожертвовать</a>
                        </li>
                        <li>
                            <a href="#">Как создать заявку</a>
                        </li>
                        <li>
                            <a href="#">Способы оплаты</a>
                        </li>
                        <li>
                            <a href="#">Правила использования сервиса</a>
                        </li>
                    </ul>
                </button>
                <a href="#">Блог</a>
                <a href="#">История успеха</a>
            </div>

            <a href="/homepage" class="">
                <img src="../../../dist/img/img-logo.png" alt="">
            </a>
            <div>
                <a href="#">Благотворители</a>
                <button href="#" class="auth-link">Вход | Регистрация</button>
                <button type="button" class="header-search">
                    <i class="fas fa-search"></i>Поиск
                </button>
            </div>
        </nav>
    </div>

    <div class="header-shadow"></div>

    <div class="img-slider">
        <img src="../../../dist/img/header-baner2.jpg" alt="">
        <img src="../../../dist/img/header-baner3.jpg" alt="">
        <img src="../../../dist/img/header-baner8.jpg" alt="">
    </div>

    <div class="text-block container">
        <h1>
            <span>Lifes</span> <span>Pulse</span>
        </h1>
        <p>
            предоставляет возможность
            начать моментальный сбор
            средств на лечение
        </p>
    </div>
</header>

<div class="card-block">
    <ul class="card-list">
        <li>
            <a href="#" class="card">
                <div class="img-wrapper">
                    <img src="../../../dist/img/card1.jpg" alt="">
                </div>
                <div class="social-block">
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-eye"></i>
                            755
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="fas fa-share-alt"></i>
                            23
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-heart"></i>
                            122
                        </a>
                    </object>
                </div>
                <div class="text-block">
                    <h3>
                        Генрин Верини
                    </h3>
                    <p>
                        Туберкулез - Не следует, однако забывать, что начало повседневной работы по формированию позиции
                        влечет за собой процесс внедрения и модернизации
                    </p>

                    <div class="progress-block">
                        <div class="bar">
                            <div class="fill"></div>
                        </div>
                        <div class="progress-block-text">
                            <span>Собрано 10000 грн </span>
                            <span>из 15000 грн</span>
                        </div>

                    </div>
                </div>

            </a>
        </li>
        <li>
            <a href="#" class="card">
                <div class="img-wrapper">
                    <img src="../../../dist/img/card2.jpg" alt="">
                </div>
                <div class="social-block">
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-eye"></i>
                            755
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="fas fa-share-alt"></i>
                            23
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-heart"></i>
                            122
                        </a>
                    </object>
                </div>
                <div class="text-block">
                    <h3>
                        Генрин Верини
                    </h3>
                    <p>
                        Туберкулез - Не следует, однако забывать, что начало повседневной работы по формированию позиции
                        влечет за собой процесс внедрения и модернизации
                    </p>

                    <div class="progress-block">
                        <div class="bar">
                            <div class="fill"></div>
                        </div>
                        <div class="progress-block-text">
                            <span>Собрано 10000 грн </span>
                            <span>из 15000 грн</span>
                        </div>

                    </div>
                </div>

            </a>
        </li>
        <li>
            <a href="#" class="card">
                <div class="img-wrapper">
                    <img src="../../../dist/img/card3.jpg" alt="">
                </div>
                <div class="social-block">
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-eye"></i>
                            755
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="fas fa-share-alt"></i>
                            23
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-heart"></i>
                            122
                        </a>
                    </object>
                </div>
                <div class="text-block">
                    <h3>
                        Генрин Верини
                    </h3>
                    <p>
                        Туберкулез - Не следует, однако забывать, что начало повседневной работы по формированию позиции
                        влечет за собой процесс внедрения и модернизации
                    </p>

                    <div class="progress-block">
                        <div class="bar">
                            <div class="fill"></div>
                        </div>
                        <div class="progress-block-text">
                            <span>Собрано 10000 грн </span>
                            <span>из 15000 грн</span>
                        </div>

                    </div>
                </div>

            </a>
        </li>
        <li>
            <a href="#" class="card">
                <div class="img-wrapper">
                    <img src="../../../dist/img/card1.jpg" alt="">
                </div>
                <div class="social-block">
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-eye"></i>
                            755
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="fas fa-share-alt"></i>
                            23
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-heart"></i>
                            122
                        </a>
                    </object>
                </div>
                <div class="text-block">
                    <h3>
                        Генрин Верини
                    </h3>
                    <p>
                        Туберкулез - Не следует, однако забывать, что начало повседневной работы по формированию позиции
                        влечет за собой процесс внедрения и модернизации
                    </p>

                    <div class="progress-block">
                        <div class="bar">
                            <div class="fill"></div>
                        </div>
                        <div class="progress-block-text">
                            <span>Собрано 10000 грн </span>
                            <span>из 15000 грн</span>
                        </div>

                    </div>
                </div>

            </a>
        </li>
        <li>
            <a href="#" class="card">
                <div class="img-wrapper">
                    <img src="../../../dist/img/card1.jpg" alt="">
                </div>
                <div class="social-block">
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-eye"></i>
                            755
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="fas fa-share-alt"></i>
                            23
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-heart"></i>
                            122
                        </a>
                    </object>
                </div>
                <div class="text-block">
                    <h3>
                        Генрин Верини
                    </h3>
                    <p>
                        Туберкулез - Не следует, однако забывать, что начало повседневной работы по формированию позиции
                        влечет за собой процесс внедрения и модернизации
                    </p>

                    <div class="progress-block">
                        <div class="bar">
                            <div class="fill"></div>
                        </div>
                        <div class="progress-block-text">
                            <span>Собрано 10000 грн </span>
                            <span>из 15000 грн</span>
                        </div>

                    </div>
                </div>

            </a>
        </li>
        <li>
            <a href="#" class="card">
                <div class="img-wrapper">
                    <img src="../../../dist/img/card2.jpg" alt="">
                </div>
                <div class="social-block">
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-eye"></i>
                            755
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="fas fa-share-alt"></i>
                            23
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-heart"></i>
                            122
                        </a>
                    </object>
                </div>
                <div class="text-block">
                    <h3>
                        Генрин Верини
                    </h3>
                    <p>
                        Туберкулез - Не следует, однако забывать, что начало повседневной работы по формированию позиции
                        влечет за собой процесс внедрения и модернизации
                    </p>

                    <div class="progress-block">
                        <div class="bar">
                            <div class="fill"></div>
                        </div>
                        <div class="progress-block-text">
                            <span>Собрано 10000 грн </span>
                            <span>из 15000 грн</span>
                        </div>

                    </div>
                </div>

            </a>
        </li>
        <li>
            <a href="#" class="card">
                <div class="img-wrapper">
                    <img src="../../../dist/img/card2.jpg" alt="">
                </div>
                <div class="social-block">
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-eye"></i>
                            755
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="fas fa-share-alt"></i>
                            23
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-heart"></i>
                            122
                        </a>
                    </object>
                </div>
                <div class="text-block">
                    <h3>
                        Генрин Верини
                    </h3>
                    <p>
                        Туберкулез - Не следует, однако забывать, что начало повседневной работы по формированию позиции
                        влечет за собой процесс внедрения и модернизации
                    </p>

                    <div class="progress-block">
                        <div class="bar">
                            <div class="fill"></div>
                        </div>
                        <div class="progress-block-text">
                            <span>Собрано 10000 грн </span>
                            <span>из 15000 грн</span>
                        </div>

                    </div>
                </div>

            </a>
        </li>
        <li>
            <a href="#" class="card">
                <div class="img-wrapper">
                    <img src="../../../dist/img/card2.jpg" alt="">
                </div>
                <div class="social-block">
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-eye"></i>
                            755
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="fas fa-share-alt"></i>
                            23
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-heart"></i>
                            122
                        </a>
                    </object>
                </div>
                <div class="text-block">
                    <h3>
                        Генрин Верини
                    </h3>
                    <p>
                        Туберкулез - Не следует, однако забывать, что начало повседневной работы по формированию позиции
                        влечет за собой процесс внедрения и модернизации
                    </p>

                    <div class="progress-block">
                        <div class="bar">
                            <div class="fill"></div>
                        </div>
                        <div class="progress-block-text">
                            <span>Собрано 10000 грн </span>
                            <span>из 15000 грн</span>
                        </div>

                    </div>
                </div>

            </a>
        </li>
        <li>
            <a href="#" class="card">
                <div class="img-wrapper">
                    <img src="../../../dist/img/card2.jpg" alt="">
                </div>
                <div class="social-block">
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-eye"></i>
                            755
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="fas fa-share-alt"></i>
                            23
                        </a>
                    </object>
                    <object type="lol/wut">
                        <a href="#">
                            <i class="far fa-heart"></i>
                            122
                        </a>
                    </object>
                </div>
                <div class="text-block">
                    <h3>
                        Генрин Верини
                    </h3>
                    <p>
                        Туберкулез - Не следует, однако забывать, что начало повседневной работы по формированию позиции
                        влечет за собой процесс внедрения и модернизации
                    </p>

                    <div class="progress-block">
                        <div class="bar">
                            <div class="fill"></div>
                        </div>
                        <div class="progress-block-text">
                            <span>Собрано 10000 грн </span>
                            <span>из 15000 грн</span>
                        </div>

                    </div>
                </div>

            </a>
        </li>
    </ul>


</div>



<footer>
    <div class="container">
        <div class="footer-nav">
            <div class="footer-link-block">
                <a href="#">Благотворители</a>
                <a href="#">Поиск</a>
                <a href="#">F.A.Q.</a>
                <a href="#">История успеха</a>
            </div>
            <div class="footer-link-block">
                <a href="#">Поиск</a>
                <a href="#">Блог</a>
                <a href="#">История успеха</a>
                <a href="#">F.A.Q.</a>
            </div>
            <div class="footer-nav-logo">
                <a href="#"><img src="../../../dist/img/img-logo.png" alt="logo"></a>
            </div>
            <div class="footer-link-block">
                <a href="#">Поиск</a>
                <a href="#">Блог</a>
                <a href="#">История успеха</a>
                <a href="#">F.A.Q.</a>
            </div>
            <div class="footer-link-block">
                <a href="#">Поиск</a>
                <a href="#">История успеха</a>
                <a href="#">F.A.Q.</a>
                <div class="footer-link-block social-link">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-vk"></i></a>
                    <a href="#"><i class="fab fa-odnoklassniki-square"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    Copyright © 2018. All rights reserved.
</div>

<script src="../../../dist/js/index.js"></script>
</body>
</html>