.rules-block {
  padding: 150px 75px 50px 75px;
  h1 {
    color: #252526;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 15px;
    color: #252526;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 21px;
    strong {
      font-weight: 600;
    }
  }
  li {
    margin-bottom: 15px;
    color: #252526;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 21px;
    list-style-type: disc;
    margin-left: 25px;
  }
}