.user-account-block {
  padding: 130px 0 50px 0;
  min-height: calc(100vh - 286px);

    h1 {
      color: $main-light-text-color;
      font-family: $mainfont;
      font-size: 37px;
      font-weight: 700;
      line-height: 37px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
}

@media only screen and (max-width: $tabletWidth) and (min-width: $mobileWidth + 1) {
  .user-account-block {
      padding: 120px 0 50px 0;
      min-height: auto;
    }
}

@media only screen and (max-width: $mobileWidth) {
  .user-account-block {
      padding: 100px 0 50px 0;
    min-height: auto;
    }

}
