.user-account-main-block {

  .button-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 43px;

    button {
      color: $main-light-text-color;
      font-family: $mainfont;
      font-size: 21px;
      font-weight: 700;
      line-height: 21px;
      text-transform: uppercase;
      position: relative;
      transition: .2s;

      &:after {
        display: block;
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        width: 0;
        height: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
        background-color: $common-orange-color;
        transition: .2s;
      }

      &:first-child {
        margin-right: 30px;
      }

      &.active {
        color: $common-orange-color;

        &:after {
          left: 0;
          width: 100%;
        }
      }
    }

    a {
      align-items: center;
      margin-left: 100px;
      display: none;

      span {
        color: $main-text-color;
        font-family: $mainfont;
        font-size: 21px;
        line-height: 21px;
        margin-left: 20px;
      }

      .add-icon {
        flex-shrink: 0;
      }

      &.active {
        display: flex;
      }
    }
  }

  .card-block {
    padding: 0;
  }

  .user-account-main-block-container {
    display: flex;
    overflow: hidden;
    position: relative;

    .button-wrapper {
      display: flex;
      justify-content: center;
    }

    & > span {
      width: 100%;
    }

    & > div {
      position: relative;
      transition: .5s;
      width: 100%;

      &.follow {
        position: absolute;
        left: -1500px;

        .button-wrapper {
          display: flex;
          justify-content: center;
        }

        &.active {
          position: relative;
          left: 0;
        }
      }

    }
    .my-campaign {
      position: absolute;
      right: -1500px;


      &.active {
        position: relative;
        right: 0;

        .card-block-list.card-block-list-flex {
          li {
            height: auto;
            margin: 0;
            .single-card {
              height: 100%;
              justify-content: space-between;
              .text-block {
                height: inherit;
                .btn {
                  margin-top: 10px;
                  font-size: 14px;
                  text-align: center;
                  overflow: inherit;
                  display: flex;
                  align-items: center;
                  justify-content: space-around;
                  width: 100%;
                  .tooltip-hover {
                    width: 18px;
                    height: 18px;
                    img {
                      width: 100%;
                      height: 100%;
                      display: block;
                    }
                    .information-tooltip {
                      display: none;
                      position: absolute;
                      top: 33px;
                      left: 0;
                      transition: .3s;
                      width: 100%;
                      z-index: 3;
                      background-color: white;
                      border-radius: 4px;
                      padding: 5px 7px;
                      border: 1px solid lightgray;
                      line-height: 1.1;
                      font-size: 14px;
                      box-shadow: 0 0 10px 3px rgba(0,0,0,0.1);
                    }
                    &:hover .information-tooltip {
                      display: block;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $tabletWidth) and (min-width: $mobileWidth + 1) {
  .user-account-main-block {
    .button-block {
      a {
        margin-left: 50px;

      }
    }
  }
}

@media only screen and (max-width: $mobileWidth) {
  .user-account-main-block {
    .button-block {
      button {
        margin-top: 20px;
      }
      a {
        margin-top: 40px;
        margin-left: 0;
        &.active {
          width: 100%;
        }
      }
    }
  }
}
