.new-campaign-form {
  label {
    margin-bottom: 25px;

    &.label-input {
      span:first-child {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
		position: relative;
        .tooltip-hover {
          width: 18px;
          height: 18px;
          margin-left: 10px;
          img {
            width: 100%;
            height: 100%;
          }
          .information-tooltip {
            display: none;
            position: absolute;
            top: 25px;
            left: 0;
            transition: .3s;
            width: 80%;
            z-index: 3;
            background-color: white;
            border-radius: 4px;
            padding: 5px 7px;
            border: 1px solid lightgray;
            line-height: 1.1;
            font-size: 14px;
			box-shadow: 0 0 10px 3px rgba(0,0,0,0.1);
          }
          &:hover .information-tooltip {
            display: block;
          }
        }

      }
      #text-preview-length {
        margin: 0 0 0 10px;
        &.color-red {
          color: $common-alert-color;
        }
        &.color-green {
          color: green;
        }
      }

      span.info {
        max-width: 100%;
        line-height: 1.2;
		font-size: 12px;
      }

      textarea {
        min-height: 80px;
        line-height: 22px;
        padding: 15px 15px;
      }
      &.label-error {
        textarea {
          border: 1px solid $common-alert-color;
        }
        span.info {
          font-weight: 400;
          color: $common-alert-color;
        }
      }
    }

    &.label-number {
      width: 100%;
      input {
        position: relative;
        z-index: 1;
        height: 50px;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.1;

        &::placeholder {
          color: $gray-text-color;
          font-family: $mainfont;
          font-size: 24px;
          font-weight: 400;
          line-height: 50px;
        }
      }

      .currency {
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $common-orange-color;
        font-family: $mainfont;
        font-size: 32px;
        font-weight: 400;
        line-height: 28px;
        width: 132px;
        height: 48px;
        border-left: 1px solid #eaeae8;
        background-color: $white-text-color;
        position: absolute;
        top: 30px;
        right: 1px;
        margin-bottom: 0;
      }
    }

    &.label-radio {
      input {
        display: none;
      }

      span {
        display: flex;
        align-items: center;

        &:before {
          display: block;
          content: '';
          margin-right: 10px;
          width: 16px;
          height: 16px;
          box-shadow: 0 0 0 1px $common-orange-light-color;
          background-color: $bg-white-color;
          border-radius: 50%;
          border: 3px solid $bg-white-color;
          box-sizing: border-box;
          transition: .2s;
        }
      }

      input:checked + span:before {
        background-color: $common-orange-color;
      }
    }

    &.label-select {
      display: flex;
      flex-direction: column;

      span {
        margin-bottom: 10px;
      }

      select {
        width: 45%;
      }
    }

    &.label-textarea {
      textarea {
        min-height: 280px;
      }
    }

    &.label-file {
      display: block;
      width: 100%;
      img {
        width: 20%;
      }

      input {
        display: none;
      }

      .btn {
        color: $main-light-text-color;
        font-family: $mainfont;
        line-height: 40px;
        font-size: 16px;
        text-transform: uppercase;
        height: 40px;
        text-align: center;
        width: 150px;
      }
    }

    &.label-checkbox {
      max-width: 600px;
      margin: 0 auto 50px;
    }
  }

  .block-line {
    margin-bottom: 31px;
  }

  .bank-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    label {
      width: 35%;

      &:last-child {
        width: 20%;
      }

      input {
        min-width: unset;
      }
    }
  }

  .phone-inn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    label {
      width: 45%;
    }
  }

  .to-whom-campaign {
    .radio-wrapper {
      display: flex;
      flex-wrap: wrap;

      label:first-child {
        margin-right: 50px;
      }
    }
  }

  .address-birth {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    label {
      width: 35%;

      &:last-child {
        width: 20%;
      }

      input {
        min-width: unset;
      }
    }
  }

  .campaign-duration {
    .title {
      color: $main-text-color;
      font-family: $mainfont;
      font-size: 21px;
      line-height: 21px;
      margin-bottom: 20px;
      display: block;
    }

    .campaign-duration-wrapper {
      display: flex;

      label {
        margin-right: 50px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .photo-preview-block {
    & > p {
      margin-bottom: 10px;
	  font-weight: 500;
    }
  }
  .document-block {
    h3 {
      color: $main-light-text-color;
      font-family: $mainfont;
      font-size: 21px;
      font-weight: 700;
      line-height: 21px;
      margin-bottom: 15px;
    }

    & > p {
      color: $main-text-color;
      font-family: $mainfont;
      line-height: 21px;
      max-width: 100%;
      margin-bottom: 15px;
    }

    .title-span {
      margin-bottom: 10px;
	  font-weight: 500;
    }
  }
}


@media only screen and (max-width: $tabletWidth) and (min-width: $mobileWidth + 1) {
  .new-campaign-form {
    .bank-details {
      flex-wrap: wrap;
      label {
        width: 50%;
        margin-right: 50px;

        &:last-child {
          width: 20%;
          margin-right: 0;
        }

        input {
          min-width: unset;
        }
      }
    }

    .phone-inn {
      label {
        input {
          min-width: unset;
        }
      }
    }

    .address-birth {

      label {
        width: 45%;

        &:last-child {
          width: 45%;
        }

        input {
          min-width: unset;
        }
      }
    }
    label.label-select {
      select {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: $mobileWidth) {
  .new-campaign-form {

    label.label-select {
      display: flex;
      flex-direction: column;
      select {
        width: 100%;
      }
    }
    label {
      width: 100%!important;
      &.label-input {
		  span:first-child {
			  .tooltip-hover {
				  .information-tooltip {
					  width: 100%;
				  }
			  }
		  }
        textarea {
          min-height: 170px;
        }
      }
      input, textarea {
        width: 100%!important;
        min-width: unset!important;
      }
      input.check__input {
        width: initial !important;
      }
    }
  }
}