.new-campaign-block {
  padding: 130px 33px 50px;

  h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: $tabletWidth) and (min-width: $mobileWidth + 1) {
  .new-campaign-block {
    padding: 120px 0 50px 0;
    h1 {
      margin-bottom: 40px;
    }
  }
}

@media only screen and (max-width: $mobileWidth) {
  .new-campaign-block {
    padding: 120px 0 50px 0;
    h1 {
      margin-bottom: 30px;
    }
  }
}