.card-block {
	padding: 30px 0;
	background-color: $bg-second-color;

	h2 {
		margin-bottom: 30px;
	}

	.card-block-list {
		& > li {
			padding: 22px;
		}
		&.card-block-list-flex {
			display: flex;
			flex-wrap: wrap;
		}

		li.m--add-new {
			a {
				width: 300px;
				padding-top: 70px;
				display: flex;
				flex-direction: column;
				align-items: center;

				span {
					color: $main-text-color;
					font-family: $mainfont;
					font-size: 21px;
					line-height: 21px;
					margin-top: 30px;
				}
			}
		}
		.card-block-list-item {
			padding-bottom: 30px;
            outline: none;

		}
	}

	.link-wrapper {
		padding-top: 40px;
		display: flex;
		justify-content: flex-end;

		a, button {
			color: $main-text-color;
			font-family: $mainfont;
			font-size: 16px;
			font-weight: 400;
			line-height: 1.2;
		}
	}
}

@media only screen and (max-width: $tabletWidth) and (min-width: $mobileWidth + 1) {
	.card-block {
		.card-block-list {
			&.card-block-list-flex {
				justify-content: space-between;
			}
		}
	}
}

@media only screen and (max-width: $mobileWidth) {
	.card-block {
		.card-block-list {
			margin: 0 -20px;
			li.m--add-new {
				display: none;
			}

			& > li {
				padding: 20px;
			}
			&.card-block-list-flex {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
			}
		}
	}
}


