@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

$mainfont: 'Open Sans', sans-serif;

$maincolor: #f8a46e;
$secondcolor: #ff8638;
$white: #ffffff;
$titlecolor: #373737;
$textcolor: #373737;

