@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Roboto:300,400,500,700');

$mainfont: 'Roboto', sans-serif;
$secondfont: 'Montserrat', sans-serif;

$bg-main-color: #363636;
$bg-second-color: #f6f4f4;
$nav-color: #ffffff;
$nav-second-color: #e5e5e5;
$main-accent-color: #e96b17;
$button-text-color: #e5ebfc;
$main-text-color: #252526;
$bg-third-color: #ececec;